/* Importa as classes-base, componentes e utilitários do Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define as fontes padrão que configuramos no tailwind.config.js.
  Isso aplica 'Inter' ao corpo e 'Bricolage Grotesque' aos títulos.
*/
@layer base {
  body {
    @apply font-sans bg-bg text-text; /* Aplica fontes e cores padrão */
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}